/*.root{
	-fx-background-Color:"blue";
}
#anchor{

}
#delishably{
	-fx-font-family:"Verdana";
	-fx-text-fill:"beige";
	 -fx-padding: 50px;
    -fx-border-insets: 500spx;
    -fx-background-insets: 200px;
}*/